<strong>Olá, {{provider}}</strong>
<p>Houve uma inscriçã no meetup de {{meetup}}, os detalhes estão a baixo:</p><br>
<p>
  <strong>Usuario: </strong> {{user}} <br>
  <strong>Data do maetup: </strong> {{date}} <br>
  <br>

</p>
